<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bienvenido a mi aplicación</title>
  <style>
    .fondo {
     background-color: black;
    }
  </style>
</head>
<body>
  <h1>Hola {{username}}!</h1>
  <p>Bienvenido a mi aplicación.</p>
</body>
</html>
